.activity-plans__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-slate-blue;
}
.activity-plans__button--back {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #161c35;
}
.activity-plans__textarea {
  font: inherit;
  border: 1px solid #cdced9;
  border-radius: 4px;
  resize: none;
  color: @very-dark-gray;
}
