.add-plan-form-container__title {
  margin-bottom: 31px;
}
.add-plan-form-container__arrival-dates {
  padding: 23px 0 22px 0;
  margin-bottom: 10px;
}
.add-plan-form-container__travel-route {
  padding: 22px 0 10px 0;
  margin-bottom: 10px;
}
.add-plan-form-container__activity-plans {
  padding: 24px 0 10px 0;
}
@media (min-width: @tablet-width) {
  .add-plan-form-container__arrival-dates {
    padding: 49px 0 55px 0;
    margin-bottom: 40px;
  }
  .add-plan-form-container__title {
    margin-bottom: 50px;
  }
  .add-plan-form-container__activity-plans {
    padding: 49px 0 52px 0;
  }
  .add-plan-form-container__travel-route {
    padding: 49px 0 53px 0;
    margin-bottom: 51px;
  }
}
@media (min-width: @desktop-width) {
  .add-plan-form-container__title {
    padding-left: 70px;
  }
  .add-plan-form-container__arrival-dates {
    padding: 100px 0 105px 0;
  }
  .add-plan-form-container__travel-route {
    padding: 100px 0 105px 0;
    margin-bottom: 45px;
  }
  .add-plan-form-container__activity-plans {
    padding: 100px 0 105px 0;
  }
}
