.address {
  display: flex;
  flex-direction: column;
}
.address__text {
  font-weight: 700;
  text-transform: uppercase;
  color: @very-dark-blue;
  max-width: 143px;
}
.address__link {
  position: relative;
  padding: 24px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #1d2e5b;
  border: 3px solid @very-dark-blue;
  border-radius: 10px;
}
.address__svg-container {
  background-color: #121936;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
}
.address__svg {
  width: 14px;
  height: 22px;
  fill: @light-yellow;
  padding: 12px 15px;
}
.address__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
.address__link:hover,
.address__link:focus {
  background-color: @very-dark-blue;
  color: @white;
}
.address__link:hover::after,
.address__link:focus::after {
  border-left: 10px solid @white;
}
.address__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.address__link:active::after {
  border-left: 10px solid rgba(255, 255, 255, 0.3);
}
@media (min-width: @tablet-width) {
  .address__text {
    min-width: 500px;
    font-size: 28px;
    line-height: 28px;
  }
  .address__svg-container {
    width: 67px;
    height: 67px;
    margin-right: 26px;
  }
  .address__svg {
    width: 21px;
    height: 31px;
    padding: 15px 22px;
  }
  .address__container {
    align-items: center;
    margin-bottom: 45px;
  }
  .address__link {
    border-radius: 20px;
    padding: 31px 37px 28px;
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: @desktop-width) {
  .address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .address__svg-container {
    width: 90px;
    height: 90px;
    margin-right: 32px;
  }
  .address__container {
    margin-bottom: 0;
  }
  .address__svg {
    width: 28px;
    height: 43px;
    padding: 20px 28px;
  }
  .address__link {
    padding: 31px 67px 28px 37px;
  }
}

