.catalog__list{
  .list-reset();
}
.catalog__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @dark-slate-blue;
  padding-left: 86px;
  padding-right: 40px;
  display: block;
  position: relative;
}
.catalog__name--offline::after,
.catalog__name--online::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 100%;
  margin-left: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.catalog__name--offline::after {
  background-color: #f97676;
}
.catalog__name--online::after {
  background-color: #81e31e;
}
.catalog__likes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #161c35;
  padding-left: 86px;
  position: relative;
}
.catalog__likes-svg-container {
  position: absolute;
  top: 0;
  left: 50px;
  width: 31px;
  height: 31px;
  background-color: #edeff6;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.catalog__likes-svg {
  width: 13px;
  height: 11px;
  padding: 11px 9px 9px 9px;
  fill: rgba(25,33,68, 0.3);
}
.catalog__likes-svg-container--red {
  background-color: #f9eaea;
}
.catalog__likes-svg--red {
  fill: #f02323;
}
.catalog__text-tags {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.catalog__item-country {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-slate-blue;
}
.catalog__show-button {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: @dark-slate-blue;
  background-color: transparent;
}
.catalog__item {
  padding: 15px 20px 22px;
  background-color: @white;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.catalog__item:not(:last-child) {
  margin-bottom: 10px;
}
.catalog__img {
  border-radius: 50%;
}
.catalog__img-link {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
}
.catalog__text {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 19px;
  padding: 0 10px;
  background-color: @white;
}
.catalog__text--level {
  margin-bottom: 12px;
}
.catalog__flags-container {
  position: relative;
  margin-bottom: 19px;
}
.catalog__flags-container::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 1px;
  width: 270px;
  background-color: rgba(0,0,0, 0.1)
}
.catalog__flags-list {
  .list-reset();
  display: flex;
  flex-direction: column;
}
.catalog__flags-item {
  display: flex;
  align-items: center;
}
.catalog__flags-item:not(:last-child) {
  margin-bottom: 10px;
}
.catalog__flags-svg {
  width: 26px;
  height: 18px;
  margin-right: 15px;
}
.catalog__flags-text {
  color: #1d2e5b;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 5px;
}
.catalog__traveller-skills-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 14px;
}
.catalog__traveller-skills-card::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 1px;
  width: 270px;
  background-color: rgba(0,0,0, 0.1)
}
.catalog__level {
  position: relative;
}
.catalog__level-status {
  width: 45px;
  height: 45px;
}
.catalog__level-number {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 50%;
  margin-left: -20px;
  font-size: 24px;
  line-height: 18px;
  color: #1d2e5b;
  font-weight: 700;
}
@media (min-width: @tablet-width) {
  .catalog__item {
    padding: 35px 25px 26px 35px ;
  }
  .catalog__img-link {
    position: absolute;
    width: 190px;
    height: 190px;
  }
  .catalog__img {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }
  .catalog__text-container {
    position: relative;
    padding-left: 220px;
    min-height: 200px;
  }
  .catalog__name {
    font-size: 30px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 20px;
  }
  .catalog__likes {
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 50px;
    margin-top: -60px;
  }
  .catalog__likes-svg-container {
    position: static;
    width: 50px;
    height: 50px;
  }
  .catalog__likes-svg {
    width: 20px;
    height: 17px;
    padding: 17px 15px 16px 15px;
  }
  .catalog__likes-text {
    font-size: 20px;
    line-height: 30px;
    margin-left: 9px;
  }
  .catalog__text-tags {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    padding-right: 120px;
  }
  .catalog__traveller-info-container {
    display: flex;
    width: 100%;
    margin-top: 26px;
  }
  .catalog__traveller-skills-card {
    position: absolute;
    flex-direction: column;
    top: 30px;
    left: 100%;
    margin-left: -70px;
  }
  .catalog__traveller-skills-card::before {
    display: none;
  }
  .catalog__text {
    display: none;
  }
  .catalog__text--visit {
    display: inline-block;
    margin-bottom: 22px;
    margin-left: 40px;
  }
  .catalog__flags-container::before {
    left: -35px;
    width: 688px;
  }
  .catalog__flags-list {
    flex-direction: row;
    align-items: center;
  }
  .catalog__flags-item:not(:last-child) {
    margin: 0;
    margin-right: 28px;
  }
  .catalog__flags-svg {
    width: 35px;
    height: 24px;
  }
  .catalog__flags-text {
    font-size: 20px;
    line-height: 30px;
  }
  .catalog__button {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -110px;
  }
  .catalog__transport-list {
    display: flex;
    flex-direction: column;
  }
  .catalog__transport-item {
    background-color: transparent;
  }
  .catalog__level-number {
    margin-left: -13px;
  }
}
@media (min-width: @desktop-width) {
  .catalog__item {
    padding: 35px 25px 26px 35px ;
  }
}
