.catalog__list{
  .list-reset();
}
.catalog__img {
  border-radius: 50%;
}
.catalog__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @dark-slate-blue;
}
.catalog__likes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #161c35;
}
.catalog__text {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
.catalog__item-country {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-slate-blue;
}
.catalog__show-button {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: @dark-slate-blue;
  background-color: transparent;
}
