.country-filter__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: @very-dark-blue;
  text-transform: uppercase;
}
.country-filter__list-continent {
  .list-reset();
}
.country-filter__item-continent {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: rgba(25, 33, 68, 0.3);
  text-transform: uppercase;
}
.country-filter__item-continent--active {
  color: @very-dark-blue
}
.country-filter__alphabet-table {
  border-collapse: collapse;
}
.country-filter__cell {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-slate-blue;
  border: 1px solid #cbced9;
  background-color: @white;
}
.country-filter__cell--active {
  color: @white;
  background-color: @dark-slate-blue;
}
.country-choose__list-country {
  list-style: none;
}
.country-filter__button {
  color: #161c35;
  background-color: #d6daed;
}
