.directions__container {
  padding-left: 26px;
}
.directions__text {
  color: @very-dark-gray;
  font-weight: 300;
  margin: 0;
  margin-bottom: 58px;
  padding-right: 45px;
}
.directions__list {
  .list-reset();
  border-radius: 10px;
}
.directions__title {
  margin-bottom: 21px;
}
.directions__item {
  margin-bottom: 10px;
}
.directions__item:last-child {
  margin-bottom: 25px;
}
@media (min-width: @tablet-width) {
  .directions {
    position: relative;
    &::after {
      content: '';
      width: 289px;
      height: 575px;
      background-image: url("../../img/flags-back@2x.png");
      background-size: 289px 575px;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 79px;
    }
    &::before {
      content: '';
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: #e2e5f2;
      position: absolute;
      top: 425px;
      left: 0;
    }
  }
  .directions__container {
    padding-left: 0;
  }
  .directions__text {
    padding: 0;
    margin-bottom: 113px;
    max-width: 350px;
    font-size: 28px;
    line-height: 33px;
  }
  .directions__title {
    max-width: 350px;
    padding: 0;
    margin-bottom: 62px;
  }
  .directions__item {
    margin: 0;
    margin-bottom: 10px;
  }
  .directions__item:last-child {
    margin-bottom: 47px;
  }
}

@media (min-width: @desktop-width) {
  .directions__container {
    order: 2;
    z-index: 2;
  }
  .directions__button {
    position: absolute;
    right: 250px;
    bottom: 140px;
    padding: 31px 102px 32px 34px;
    z-index: 2;
  }
  .directions__text {
    margin: 0;
  }
  .directions__item:last-child {
    margin-bottom: 0;
  }
  .directions::after {
    right: 0;
    top: 89px;
  }
  .directions::before {
    top: 89px;
    left: 0;
  }
}
