
.mail__text {
  font-weight: 700;
  text-transform: uppercase;
}
.mail__text--blue {
  color: @very-dark-blue;
}
.mail__text--yellow {
  color: @light-yellow;
}
.mail__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.mail__link--bg-blue {
  background-color: #121936;
}
.mail__link--bg-medium-yellow {
  background-color: @vivid-orange-light;
}
.mail__svg {
  width: 18px;
  height: 14px;
  padding: 12px;
}
.mail__svg--blue {
  fill: #010101;
}
.mail__svg--yellow {
  fill: @light-yellow;
}
@media (min-width: @tablet-width) {
  .mail__text {
    font-size: 28px;
    line-height: 28px;
  }
  .mail__link {
    width: 67px;
    height: 67px;
  }
  .mail__svg {
    width: 27px;
    height: 19px;
    padding: 23px;
  }
}

