@media (min-width: @desktop-width) {
  .main-nav__list::before {
    content: "";
    position: absolute;
    left: -100px;
    top: 10px;
    width: 60px;
    height: 2px;
    background-color: @white;
  }
}
