.page-main__app-preview {
  display: flex;
  flex-direction: column;

}
.page-main__container {
  display: flex;
  flex-direction: column;
}
.page-main__user {
  margin-bottom: 30px;
}
.page-main__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: @white;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 247px;
}
.page-main__text--light {
  font-weight: 300;
  color: @white;
}
.page-main__text--bold {
  font-weight: 700;
  color: @white;
}
.page-main__reviews {
  margin-bottom: 30px;
}
.page-main__service {
  padding-bottom: 40px;
}
@media (min-width: @tablet-width) {
  .page-main__slogan {
    padding: 0 130px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 96px;
  }
  .page-main__user {
    display: none;
  }
  .page-main__reviews {
    margin-bottom: 213px;
  }
}
@media (min-width: @desktop-width) {
  .page-main__slogan {
    padding: 0;
    padding-left: 89px;
    text-align: left;
    width: 439px;
  }
  .page-main__reviews {
    margin: 0;
  }
  .page-main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 107px;
  }
  .page-main__service {
    padding-bottom: 123px;
  }
}
