.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 50px;
}
.page-header--opened {
  position: relative;
  background-color: @white;
  width: 280px;
}
.page-header__logo {
  display: block;
}
@media (min-width: @tablet-width) {
  .page-header__logo-img {
    width: 166px;
    height: 46px;
  }
  .page-header--opened {
    width: 700px;
  }
}
@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: @very-dark-blue;
  }
  .page-header__logo {
    margin-right: 40px;
  }
  .page-header__logo-img {
    width: 200px;
    height: 52px;
  }
  .page-header--opened {
    width: 1320px;
  }
}
