.page-current__title {
  position: relative;
}
.page-current__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 214px;
  height: 5px;
  border-radius: 2.4px;
  background-color: #ff8d30;
}
