.page-form__current {
  padding-top: 5px;
}
.page-form__plans-id {
  padding: 30px 0 60px 0;
}
.page-form__add-plan-form-container {
  padding: 30px 0 44px;
}
.page-form__traveller-id-card {
  padding-bottom: 30px;
}
@media (min-width: @tablet-width) {
  .page-form__plans-id {
    padding: 58px 35px 74px 35px;
  }
  .page-form__traveller-id-card {
    padding: 0 35px;
  }
  .page-form__add-plan-form-container {
    padding: 57px 35px 63px;
  }
}
@media (min-width: @desktop-width) {
  .page-form__traveller-id-card {
    padding: 73px 0 65px 64px;
  }
  .page-form__plans-id {
    padding: 57px 0 63px 64px;
  }
  .page-form__add-plan-form-container {
    padding: 57px 0 72px;
  }
}
