.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 42px;
}
.page-header__toggle {
  position: relative;
  top: -5px;
  right: -60px;
  z-index: 11;
  width: 24px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    border-radius: 1.5px;
    background-color: @white;
  }
}
.page-header__toggle--closed {
  right: 27px;
  top: 33px;
  position: fixed;
}
.page-header__toggle::before {
  margin-bottom: 5px;
}
.page-header__toggle--closed {
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 19px;
    height: 2px;
    background-color: #cccccc;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 42px;
    padding-bottom: 65px;
    align-items: stretch;
  }
  .page-header__toggle {
    width: 24px;
    right: 0;
    top: -5px;
    left: 22px;
  }
  .page-header__toggle--closed {
    left: 350px;
    top: 65px;
  }
}
@media (min-width: @desktop-width) {
  .page-header {
    padding: 47px 0 0 0;
    justify-content: flex-start;
  }
  .page-header__toggle {
    display: none;
  }
}
