

.page-main__service-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  padding-left: 24px;
  padding-right: 30px;
}
.page-main__directions {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 30px;
}
.page-main__traveller {
  display: flex;
  flex-direction: column;
  padding: 73px 0 30px 0;
}
.page-main__distribution {
  padding-top: 52px;
  padding-left: 25px;
  padding-bottom: 28px;
}
.page-main__subscription {
  padding-top: 72px;
  padding-bottom: 29px;
}
.page-main__address {
  padding: 32px 0 35px 0;
}
@media (min-width: @tablet-width) {
  .page-main__service-info {
    padding-bottom: 88px;
    padding-left: 34px;
  }
  .page-main__directions {
    padding: 74px 35px 80px 35px;
  }
  .page-main__traveller {
    padding: 143px 35px 88px 35px;
  }
  .page-main__distribution {
    padding-top: 75px;
    padding-bottom: 64px;
  }
  .page-main__subscription {
    padding: 77px 35px 62px;
  }
  .page-main__address {
    padding: 47px 35px 85px;
  }
}
@media (min-width: @desktop-width) {
  .page-main__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 107px;
  }
  .page-main__service-info {
    padding: 133px 0 163px 70px;
  }
  .page-main__directions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    padding: 161px 180px 139px 70px;
  }
  .page-main__traveller {
    flex-direction: row;
    justify-content: space-between;
    padding: 131px 0 134px 71px;
  }
  .page-main__distribution {
    padding: 108px 344px 165px 70px
  }
  .page-main__subscription {
    padding: 108px 72px 104px 72px;
  }
  .page-main__address {
    padding: 54px 74px 56px 223px;
  }
}
