.page-main__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: @white;
}
.page-main__text--light {
  font-weight: 300;
  color: @white;
}
.page-main__text--bold {
  font-weight: 700;
  color: @white;
}
