.quantity {
  display: flex;
  flex-direction: column;
}

.quantity__container-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9px;
  margin-left: -2px;
}

.quantity__text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  color: @dark-slate-blue;
}

.quantity__text--gray {
  color: rgba(29, 46, 91, 0.3);
}

.quantity__quantity-change {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cbced9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 14px 11px 14px;

  &:hover,
  &:focus {
    border: 1px solid #959bb2;
  }

  &:active {
    border: 1px solid #161c35;
  }
}

.quantity__button {
  position: relative;
  cursor: pointer;
  opacity: 0.3;
  background-color: transparent;
  border: transparent;
  width: 40px;

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: -1px;
    width: 14px;
    height: 2px;
    background-color: black;
  }
}

.quantity__button--more::before {
  transform: rotate(90deg);
}

.quantity__button--more {
  &::before,
  &::after {
    top: 8px;
    left: 25px;
  }
}

.quantity__input {
  width: 40px;
  padding: 2px 20px 0 47px;
  font: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  color: @dark-slate-blue;
  border: transparent;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: @tablet-width) {
  .quantity {
    position: relative;
  }

  .quantity__text {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .quantity__input {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
  }

  .quantity__container-text {
    margin-bottom: 24px;
    &::before {
      content: '';
      width: 532px;
      height: 1px;
      position: absolute;
      top: -26px;
      left: 0;
      background-color: #d6d9e6;
    }
  }

  .quantity__quantity-change {
    margin-bottom: 59px;
    padding: 18px 21px;
  }

  .quantity__quantity-change--margin {
    margin-bottom: 112px;
  }

  .quantity__button {
    width: 50px;
    &::before,
    &::after {
      width: 20px;
    }
  }

  .quantity__button--less {
    &::before,
    &::after {
      top: 13px;
    }
  }

  .quantity__button--more {
    &::before,
    &::after {
      top: 15px;
      left: 33px;
    }
  }
}
@media (min-width: @desktop-width) {
  .quantity__container-text {
    position: relative;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .quantity__text {
    padding-top: 25px;
  }

  .quantity__text--position {
    position: absolute;
    margin-right: 0;
    left: 440px;
  }

  .quantity__quantity-change {
    width: 137px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  .quantity__button {
    border: transparent;
  }

  .quantity__text--blue {
    color: #1d2e5b;
  }

  .quantity__button--more::before,
  .quantity__button--more::after {
    left: -3px;
  }
}
