.service-info__title {
  padding-top: 33px;
  padding-bottom: 23px;
}
.service-info__text {
  margin: 0;
  padding-bottom: 25px;
}
.service-info__button {
  display: none;
}
@media (min-width: @tablet-width) {
  .service-info__title {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .service-info__text {
    padding-bottom: 38px;
  }
  .service-info__button {
    display: inline-block;
    width: 200px;
  }
}
@media (min-width: @desktop-width) {
  .service-info__title {
    padding-top: 133px;
    padding-bottom: 61px;
  }
  .service-info__text {
    padding-bottom: 44px;
  }
}
