.service__list {
  display: flex;
  flex-direction: column;
  .list-reset();
}
.service__item {
  padding: 23px 25px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #161c35;
  border-radius: 10px;
}
.service__item--first {
  background-color: @vivid-orange-dark;
}
.service__item--second {
  background-color: @vivid-orange;
}
.service__item--third {
  background-color: @vivid-orange-light;
}
.service__item--fourth {
  background-color: @light-yellow;
}
