.service__list {
  display: flex;
  flex-direction: column;
  .list-reset();
  padding: 0;
  margin: 0;
}
.service__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 23px 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #161c35;
  border-radius: 10px;
}
.service__text {
  width: 140px;
}
.service__number {
  color: @white;
}
.service__item--first {
  background-color: @vivid-orange-dark;
}
.service__item--second {
  background-color: @vivid-orange;
}
.service__item--third {
  background-color: @vivid-orange-light;
}
.service__item--fourth {
  background-color: @light-yellow;
}
@media (min-width: @tablet-width) {
  .service__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .service__item {
    flex-direction: column;
    width: 304px;
    height: 95px;
    font-size: 24px;
    line-height: 24px;
  }
  .service__text {
    width: 190px;
  }
}
@media (min-width: @desktop-width) {
  .service__item {
    flex-direction: row;
    width: 290px;
    height: 60px;
    border-radius: 20px;
  }
}
