.traveller-filter__title {
  font-size: 22.5px;
  line-height: 22.5px;
  font-weight: 700;
  color: @dark-slate-blue;
  margin: 0;
  padding: 26px 0 21px;
}
.traveller-filter__button {
  color: #161c35;
  background-color: @white;
}
.traveller-filter__traveller-form {
  padding-bottom: 22px;
}
