.traveller {
  position: relative;
  &::before {
    content: '';
    width: 143px;
    height: 143px;
    background-image: url("../../img/smolov-back-desktop@2x.png");
    background-size: 143px 143px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 39px;
  }
  &::after {
    content: '';
    width: 113px;
    height: 132px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #141b3b;
    position: absolute;
    top: 39px;
    left: -25px;
  }
}
.traveller__list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .list-reset();
  &::before {
    content: '';
    width: 71px;
    height: 71px;
    background-image: url("../../img/rogovaya-back-mobile@2x.png");
    background-size: 71px 71px;
    background-repeat: no-repeat;
    position: absolute;
    left: -35px;
    top: -35px;
  }
}
.traveller__item {
  background-color: @white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.traveller__item:last-child {
  margin-bottom: 20px;
}
.traveller__container {
  padding: 0 32px 0 25px;
  margin-bottom: 57px;
  z-index: 2;
}
.traveller__title {
  margin-bottom: 18px;
}
.traveller__text {
  margin: 0;
  margin-bottom: 20px;
  width: 215px;
}
.traveller__text--light {
  font-weight: 300;
  color: @white;
}
.traveller__text--bold {
  font-weight: 700;
  color: @white;
}
.traveller__button {
  padding-bottom: 20px;
}
@media (min-width: @tablet-width) {
  .traveller {
    &::before {
    width: 285px;
    height: 285px;
    background-image: url("../../img/rogovaya-back-desktop@2x.png");
    background-size: 285px 285px;
    right: 35px;
    top: 80px;
    }
    &::after {
      width: 213px;
      height: 213px;
      border-radius: 20px;
      top: 80px;
      left: 0;
    }
  }
  .traveller__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &::before {
      width: 143px;
      height: 143px;
      background-image: url("../../img/smolov-back-desktop@2x.png");
      background-size: 143px 143px;
      left: -35px;
      top: -90px;
    }
  }
  .traveller__container {
    padding: 0;
    margin-bottom: 60px;
  }
  .traveller__title {
    max-width: 300px;
    margin-bottom: 59px;
  }
  .traveller__text {
    display: block;
    margin-bottom: 38px;
  }
  .traveller__text--light {
    font-size: 28px;
    line-height: 33px;
    width: 430px;
  }
  .traveller__text--bold {
    font-size: 21px;
    line-height: 25px;
  }
  .traveller__text:last-child {
    width: 258px;
    margin-bottom: 0;
  }
  .traveller__item {
    border-radius: 20px;
    margin-bottom: 80px;
  }
  .traveller__item:last-child {
    margin-bottom: 80px;
  }
}
@media (min-width: @desktop-width) {
  .traveller {
    position: relative;
    &::after {
      top: 68px;
    }
    &::before {
      top: 400px;
      right: 0;
      left: 130px;
    }
  }
   .traveller__list::before {
    left: -203px;
    top: 0;
   }
  .traveller__button {
    position: absolute;
    top: 547px;
    left: 70px;
    padding: 31px 95px 32px 34px;
  }
  .traveller__item {
    margin-bottom: 20px;
  }
  .traveller__item:last-child {
    margin-bottom: 20px;
  }
  .traveller__item:not(:last-child) {
    margin-right: 60px;
  }
  .traveller__text--light {
    width: 423px;
  }
  .traveller__text--bold {
    width: 409px;
  }
}
