.traveller-id-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.traveller-id-card__img {
  border-radius: 50%;
}
.traveller-id-card__button {
  background-color: @medium-grayish-blue;
}
.traveller-id-card__heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @dark-slate-blue;
  text-transform: uppercase;
}
