.traveller-form__text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @dark-slate-blue;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.traveller-form__text:hover {
  opacity: 0.6;
}
.traveller-form__text:active {
  opacity: 0.3;
}
.traveller-form__label {
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.traveller-form__label:not(:last-child) {
  padding-bottom: 10px;
}
.traveller-form__input-checkbox + .checkbox-indicator {
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  border: transparent;
  background-color: @white;
  border-radius: 4px;
}
.traveller-form__input-checkbox:hover + .checkbox-indicator,
.traveller-form__input-checkbox:focus + .checkbox-indicator {
  background-color: rgba(255, 255, 255, 0.6);
}
.traveller-form__input-checkbox:disabled + .checkbox-indicator {
  border: transparent;
  background-color: #e2e5f1;
}
.traveller-form__input-checkbox:checked + .checkbox-indicator::after {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 9px;
  height: 9px;
  background-image: url("../../img/tick.svg");
  fill: #192144;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 5px;
}
.traveller-form__input-checkbox:checked:disabled + .checkbox-indicator {
  border: transparent;
  background-color: rgba(255, 255, 255, 0.3);
}
.traveller-form__label:hover,
.traveller-form__label:focus {
  opacity: 0.6;
}
.traveller-form__label:disabled {
  opacity: 0.3;
}
.traveller-form__container .traveller-form__fieldset {
  display: none;
}
.traveller-form__container--opened .traveller-form__fieldset {
  display: block;
}
.traveller-form__container {
  padding-top: 13px;
  border-top: 1px solid #f3c72b;
  margin-bottom: 11px;
}
.traveller-form__container--hobby {
  margin-bottom: 13px;
}
.traveller-form__container--music {
  margin-bottom: 20px;
}
.traveller-form__fieldset {
  border: transparent;
  padding: 0;
  padding-top: 17px;
}
.traveller-form__container--food {
  margin-bottom: 11px;
}
.traveller-form__container--transport {
  margin-bottom: 19px;
}
.traveller-form__container--level-form {
  padding-top: 13px;
}
.traveller-form__button-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.traveller-form__button-arrow::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  margin-top: 4px;
  border: 4px solid transparent;
  border-top: 4px solid #1d2e5b;
  width: 0px;
  height: 0px;
}
.traveller-form__button-arrow--opened::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: -5px;
  border: 4px solid transparent;
  border-bottom: 4px solid #1d2e5b;
  width: 0px;
  height: 0px;
}
.traveller-form__fieldset-transport {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  border: transparent;
}
.traveller-form__input-container {
  display: flex;
  flex-direction: column;
}
.traveller-form__input-container--transport{
  flex-direction: row;
}
.traveller-form__checkbox-indicator-svg {
  fill: rgba(0, 0, 0, 0.15);
  width: 14px;
  height: 16px;
}
.traveller-form__checkbox-indicator-svg--plane {
  width: 14px;
  height: 16px;
  padding: 9px 11px 8px 8px;
}
.traveller-form__checkbox-indicator-svg--bus {
  width: 13px;
  height: 16px;
  padding: 9px 10px 8px 10px;
}
.traveller-form__checkbox-indicator-svg--bike {
  width: 19px;
  height: 17px;
  padding: 7px 7px 9px 7px;
}
.traveller-form__checkbox-indicator-svg--foot {
  width: 15px;
  height: 17px;
  padding: 8px 10px 8px 8px;
}
.traveller-form__checkbox-transport + .checkbox-indicator {
  display: flex;
  align-items: center;
  width: 33px;
  height: 33px;
  border: transparent;
  background-color: @white;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.traveller-form__checkbox-transport:checked + .checkbox-indicator::after {
  content: "";
  flex-shrink: 0;
  display: block;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: -10px;
}
.traveller-form__checkbox-transport:checked + .checkbox-indicator--plane::after {
  background-image: url(../../img/icon-plane.svg);
  width: 14px;
  height: 16px;
}
.traveller-form__checkbox-transport:checked + .checkbox-indicator--bus::after {
  background-image: url(../../img/icon-bus.svg);
  width: 13px;
  height: 16px;
}
.traveller-form__checkbox-transport:checked + .checkbox-indicator--bike::after {
  background-image: url(../../img/icon-bike.svg);
  width: 19px;
  height: 17px;
  left: -7px;
}
.traveller-form__checkbox-transport:checked + .checkbox-indicator--foot::after {
  background-image: url(../../img/icon-run.svg);
  width: 15px;
  height: 17px;
}
.traveller-form__number-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.traveller-form__number-container::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 11px;
  background-color: @white;
  left: 50%;
  margin-left: -3.5px;
  top: 50%;
  margin-top: -5.5px;
}
.traveller-form__number-container::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 1px;
  background-color: #cbced9;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  z-index: 1;
  margin-top: -0.5px;
}
.traveller-form__number {
  font: inherit;
  font-size: 15px;
  line-height: 13.5px;
  color: @dark-slate-blue;
  border: 1px solid #cbced9;
  padding: 12px 0 11px;
  width: 100%;
  background-color: @white;
  text-align: center;
  overflow: hidden;
}
.traveller-form__number:hover,
.traveller-form__number:focus {
  border: 1px solid #959bb2;
}
.traveller-form__number:active {
  border: 1px solid #161c35;
}
.traveller-form__number::-webkit-outer-spin-button,
.traveller-form__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.traveller-form__number--left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 0.5px solid #cbced9;
}
.traveller-form__number--right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 0.5px solid #cbced9;
}
.traveller-form__input-container--transport label {
  cursor: pointer;
}
@media (min-width: @tablet-width) {
  .traveller-form__container .traveller-form__fieldset {
    display: flex;
  }
  .traveller-form__button-arrow {
    display: none;
  }
  .traveller-form__input-container {
    flex-direction: row;
    justify-content: space-between;
    width: 491px;
  }
  .traveller-form__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  .traveller-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: transparent;
  }
  .traveller-form__container--hobby {
    padding-top: 35px;
    padding-bottom: 26px;
    border-top: 1px solid #f3c72b;
  }
  .traveller-form__container--music {
    padding: 0;
    padding-bottom: 26px;
  }
  .traveller-form__container--food {
    padding: 0;
    padding-bottom: 23px;
  }
  .traveller-form__container--transport {
    padding: 0;
    flex-direction: row;
    padding-bottom: 14px;
  }
  .traveller-form__container--level-form {
    padding: 0;
    border-bottom: 1px solid #f3c72b;
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .traveller-form__fieldset {
    padding: 0;
  }
  .traveller-form__input-container--hobby {
    width: 430px;
  }
  .traveller-form__fieldset--hobby {
    padding-right: 60px;
  }
  .traveller-form__input-container--music {
    flex-direction: row;
    width: 450px;
  }
  .traveller-form__fieldset--music {
    padding-right: 38px;
  }
  .traveller-form__label:not(:last-child) {
    padding: 0;
  }
  .traveller-form__input-checkbox + .checkbox-indicator {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  .traveller-form__checkbox-transport + .checkbox-indicator {
    width: 43px;
    height: 43px;
  }
  .traveller-form__checkbox-indicator-svg {
    fill: rgba(0, 0, 0, 0.15);
    width: 14px;
    height: 16px;
  }
  .traveller-form__checkbox-indicator-svg--plane {
    width: 19px;
    height: 21px;
    padding: 11px 13px 11px 11px;
  }
  .traveller-form__checkbox-indicator-svg--bus {
    width: 17px;
    height: 21px;
    padding: 11px 13px 11px 13px;
  }
  .traveller-form__checkbox-indicator-svg--bike {
    width: 24px;
    height: 21px;
    padding: 10px 9px 12px 10px;
  }
  .traveller-form__checkbox-indicator-svg--foot {
    width: 20px;
    height: 21px;
    padding: 11px 12px 11px 11px;
  }
  .traveller-form__checkbox-transport:checked + .checkbox-indicator::after {
    left: -13px;
  }
  .traveller-form__checkbox-transport:checked + .checkbox-indicator--plane::after {
    width: 19px;
    height: 21px;
  }
  .traveller-form__checkbox-transport:checked + .checkbox-indicator--bus::after {
    width: 17px;
    height: 21px;
  }
  .traveller-form__checkbox-transport:checked + .checkbox-indicator--bike::after {
    width: 24px;
    height: 21px;
    left: -9px;
  }
  .traveller-form__checkbox-transport:checked + .checkbox-indicator--foot::after {
    width: 20px;
    height: 21px;
  }
  .traveller-form__label-text {
    font-size: 20px;
    line-height: 20px;
  }
  .traveller-form__fieldset-transport {
    padding: 0;
    margin-left: 21px;
  }
  .traveller-form__input-container--transport {
    justify-content: flex-start;
  }
  .traveller-form__input-container--transport label {
    margin-right: 13px;
  }
  .traveller-form__number-container {
    order: 3;
    margin: 0;
    width: 150px;
  }
  .traveller-form__number {
    font-size: 20px;
    line-height: 18px;
  }
}
@media (min-width: @desktop-width) {
  .traveller-form__container .traveller-form__fieldset {
    display: none;
  }
  .traveller-form__container--opened .traveller-form__fieldset {
    display: block;
  }
  .traveller-form__input-container {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
  .traveller-form__input-container--transport {
    flex-direction: row;
  }
  .traveller-form__input-container--transport label {
    margin-right: 0;
  }
  .traveller-form__fieldset {
    padding: 0;
    padding-top: 28px;
  }
  .traveller-form__label:not(:last-child) {
    padding-bottom: 16px;
  }
  .traveller-form__container {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 25px;
    border: transparent;
  }
  .traveller-form__container--hobby {
    padding-top: 0;
  }
  .traveller-form__fieldset-transport {
    margin: 0;
    padding-top: 23px;
  }
  .traveller-form__container--level-form {
    padding: 0;
    margin-bottom: 43px;
  }
  .traveller-form__button-arrow {
    display: block;
    left: 180px;
    top: 5px;
  }
  .traveller-form__button-arrow::before {
    left: 0;
    top: 0;
  }
  .traveller-form__button-arrow--opened::before {
    left: 0;
    top: -5px;
  }
  .traveller-form__number-container {
    order: initial;
    padding-top: 22px;
    padding-bottom: 36px;
    width: 192px;
  }
}
