.traveller-card__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.traveller-card__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #1d2e5b;
}
.traveller-card__hobbys {
  line-height: 18px;
  color: @very-dark-gray
}
