.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  display: flex;
}
.user__list {
  display: flex;
  justify-content: space-around;
  .list-reset();
}
@media (min-width: @tablet-width) {
  .user__phone {
    display: none;
  }
  .user__mail {
    display: none;
  }
}
@media (min-width: @desktop-width) {
  .user__phone {
    display: block;
  }
  .user__mail {
    display: block;
  }
}
